html {
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: linear-gradient(260deg, rgb(17, 17, 148), rgb(51, 108, 194))

}
#words {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: 300;
}
.wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    font-weight: 300;
    font-size: larger;
    letter-spacing: normal;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px, 5px;
    display: inline-block;
    width: 100;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    background-color: rgba(0, 0, 0, 1);
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
}

.flex-nav ul {
    border: 1px solid rgba(0, 0, 0, 0);
    list-style: none;
    margin: 0;
    padding: 0;
}
